.hint-discaver {
    display: flex;
    padding: 12px ;
    gap: 16px;
    max-width: 324px;


    border-radius: 12px;
    // background: #fff;
    box-shadow: 0 4px 34px 0px rgba(50, 75, 104, 0.47);
}

.hint-discaver__img {
    border-radius: 8px;
    flex-shrink: 0;
}
.hint-discaver__desc {
    flex-grow: 1;
}
.hint-discaver__title {
    display: flex;
    justify-content: space-between;
    align-items: center;


    font-size: 18px;
    font-weight: 500;
    line-height: 150%;

    
}
.hint-discaver__rating {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 14px;line-height: 150%;
    &::before{
        content: '';
        background-image: url(./../img/icons/star-small.svg);
        background-repeat: no-repeat;
        width: 17px;
        height: 16px;
        left:  0;
        top: 0;

    }
    
}
.hint-discaver__price {

    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    .muted{
        
        color: var(--muted);
    }

    .price{
        color: var(--accent);
        
    }
}